<div class="edit">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Edit Workout
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form #editForm="ngForm" (ngSubmit)="submit()">
        <div fxLayout="column">
          <input name="id" ngModel hidden="true" />
          <mat-form-field>
            <input required matInput name="name" placeholder="Workout Name" ngModel />
          </mat-form-field>
          <button [disabled]="!editForm.valid" mat-raised-button color="primary">Update</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
